extends ../layout
block content
  .w3-container.w3-light-grey
    p
    .w3-card-4
      link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
      p
      header.w3-container.w3-light-grey
        center
          h1.w3-text-teal SBS - Movie Recommendation System

      .w3-card-4
        header.w3-container.w3-light-grey
          center
            h3.w3-text-teal Content Based on User
            center
              label.w3-text-teal.w3-col(style={width: '25%'})
                p
              img.w3-col(style={width: '50%'}, src="../user.png")
              label.w3-text-teal.w3-col(style={width: '25%'})
                p
          hr
          p
        p

        .w3-col(style={width: '40%'})
          p
        
        input.w3-input.w3-col(style={width: '20%'})(type='text',name="user" ,placeholder="Your 'user id' Here")
        input.w3-btn.w3-green(type='submit', value='Enviar')   
        label.w3-text-teal.w3-col(style={width: '40%'})
          p
        hr

      center                
        a.w3-button.w3-medium.w3-text-teal.w3-border(type='submit', href='../') Voltar Atraz
      p

  
      p
      p
      footer.w3-container.w3-light-grey.w3-text-teal
        address Gerado por formApp
        p
      p
