extends ../layout

block content
  .w3-container 
    .w3-card-4
      header.w3-container.w3-blue
        
      .w3-container
        #imagem
          h1 Movies that we recommend
          p
            a(href='http://localhost:3000/popular')
              | Back
          
            a(href='http://localhost:3000')
              | Main menu
          
          img(
            src="https://www.serasaconsumidor.com.br/ensina/wp-content/uploads/2017/10/12181533/vantagens-de-consultar-serasa-score.jpg" 
            alt="filmes"
            style="width:100%"            
          )
        form.w3-container(action='/userBestRated' method='POST')
          p This option allows you to return the best rated movies for all users
          p Just press the button below and enjoy! 
          input.w3-btn.w3-green(type='submit', value='Enviar')
      
