extends ../layout
block content
  .w3-container.w3-light-grey
    p
    .w3-card-4
      link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
      p
      header.w3-container.w3-light-grey
        center
          h1.w3-text-teal SBS - Movie Recommendation System

      .w3-card-4
        header.w3-container.w3-light-grey
          center
            h3.w3-text-teal Content Based on Users from other Systems
          center
            a(href="./hybrid")      
            center
              label.w3-text-teal.w3-col(style={width: '25%'})
                p
              img.w3-col(style={width: '50%'}, src="user.png")
              label.w3-text-teal.w3-col(style={width: '25%'})
                p
          hr
          p
        p

        center
          form.w3-container(action='/wsBestRated' method='POST')
            input.w3-radio(type='radio', name='selected', value='meta', checked) 
            label Meta-Critic          
            input.w3-radio(type='radio', name='selected', value='imdb') 
            label IMBD           
            input.w3-radio(type='radio', name='selected', value='IMD') 
            label Internet Movie Database            
            input.w3-radio(type='radio', name='selected', value='rotten') 
            label Rotten Tomatoes            
            p
            input.w3-btn.w3-green(type='submit', value='Enviar') 
          .w3-col(style={width: '40%'})
            p
          hr

      center                
        a.w3-button.w3-medium.w3-text-teal.w3-border(type='submit', href='../') Go Back
      p

  
      p
      p
      footer.w3-container.w3-light-grey.w3-text-teal
        address Gerado por formApp
        p
      p
