extends ../layout

block content
  .w3-container 
    .w3-card-4
      header.w3-container.w3-blue
        
      #imagem
        h1 Movies that we recommend
        p
          a(href='http://localhost:3000/popular')
            | Back
          
          a(href='http://localhost:3000')
            | Main menu
      div(class="logo") 
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Metacritic.svg/2000px-Metacritic.svg.png" alt="filmes")
        img(src="https://www.rottentomatoes.com/assets/pizza-pie/head-assets/images/RT_TwitterCard_2018.jpg" alt="filmes")
        img(src="http://icons.iconarchive.com/icons/danleech/simple/1024/imdb-icon.png" alt="filmes")

      .w3-container
        form.w3-container(action='/wsBestRated' method='POST')
          p This option allows you to return the best rated movies for a given site
          p Chose from the below options and we'll give you your prediction
          input.w3-radio(type='radio', name='selected', value='meta', checked) 
          label Metacritic
          input.w3-radio(type='radio', name='selected', value='imdb') 
          label IMBD
          input.w3-radio(type='radio', name='selected', value='IMD') 
          label Internet Movie Database
          input.w3-radio(type='radio', name='selected', value='rotten') 
          label Rotten tomatoes
          p
          input.w3-btn.w3-green(type='submit', value='Enviar') 
      footer.w3-container.w3-blue
        p
          a(href='http://localhost:3000/popular')
            | Back
          a= ' '
          a(href='http://localhost:3000')
            | Main menu

