extends layout

block content
  .w3-container 
    .w3-card-4
      header.w3-container.w3-blue
        h3= title
      .w3-container
        p Please select your option for filtering
        p
          a(href='http://localhost:3000/contentBased') 
            | Content Based Filtering
        p
          a(href='http://localhost:3000/collaborativeBased') 
            | Collaborative Filtering
        p
          a(href='http://localhost:3000/popular')
            | Popular
