extends ../layout

block content
  .w3-container 
    .w3-card-4
      header.w3-container.w3-blue
       
      .w3-container
        #imagem
          h1 Movies that we recommend
          p
            a(href='http://localhost:3000')
              | Back
          
            a(href='http://localhost:3000')
              | Main menu
          
          img(
            src="https://previews.123rf.com/images/kentoh/kentoh0910/kentoh091000145/5670167-Movie-Poster-of-Film-Genres-Vintage-Background-Stock-Photo.jpg" 
            alt="filmes"
            style="width:100%"
          )
        p Choose if you want to recomend based on a user id or a title
        p
          a(href='http://localhost:3000/contentBased/user')
            | User Id
          a(href='http://localhost:3000/contentBased/title')
            | Title
     
