doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.3.1.js")
    script(src="/javascripts/jquery-ui.js")
    script(src="/javascripts/autocomplete.js")
    script(src="/javascripts/features.js")
    script(
      var availableTags = arrayOptions
      console.log(availableTags)
    )
  body
    block content
